<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.stanks.zet_v2"
	android:versionCode="1"
	android:versionName="0"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<permission android:name="com.stanks.zet_v2.permission.C2D_MESSAGE"
	  android:protectionLevel="signature" />
	<uses-feature android:name="android.hardware.location.gps"/>
	<uses-feature android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="com.stanks.zet_v2.permission.MAPS_RECEIVE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="com.stanks.zet_v2.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="ZET"
		android:theme="@style/LightTheme">
		
		<activity android:name="com.google.android.gms.common.api.GoogleApiActivity"
		  android:exported="false" />
		    <meta-data
		  android:name="com.google.android.gms.version"
		  android:value="@integer/google_play_services_version" />
		<meta-data
		  android:name="com.google.android.geo.API_KEY"
		  android:value="AIzaSyDcDgSJf0YZKaPnFB3DZpUhM3oLRbzkobM" />
		<activity android:name="com.google.android.gms.common.api.GoogleApiActivity"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar"
		  android:exported="false"/>
		    <meta-data
		  android:name="com.google.android.gms.version"
		  android:value="@integer/google_play_services_version" />
		<receiver
		            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
		            android:enabled="true"
		            android:exported="false" >
		        </receiver>
		
		  <service
		            android:name="com.google.android.gms.measurement.AppMeasurementService"
		            android:enabled="true"
		            android:exported="false" />
					
		 <receiver
		            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
		            android:enabled="true"
		            android:exported="true"
		            android:permission="android.permission.INSTALL_PACKAGES" >
		            <intent-filter>
		                <action android:name="com.android.vending.INSTALL_REFERRER" />
		            </intent-filter>
		</receiver>
		<service
		            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
		            android:enabled="true"
		            android:exported="false"
		            android:permission="android.permission.BIND_JOB_SERVICE" />
		
		 <service android:name="com.google.firebase.components.ComponentDiscoveryService" >
		            <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
					 <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		             <meta-data
		                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
		                android:value="com.google.firebase.components.ComponentRegistrar" />
		</service>
		   <provider
		  android:authorities="com.stanks.zet_v2.firebaseinitprovider"
		  android:name="com.google.firebase.provider.FirebaseInitProvider"
		  android:exported="false"
		  android:initOrder="100" />
		  
		   <receiver
		  android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
		  android:exported="true"
		  android:permission="com.google.android.c2dm.permission.SEND" >
		  <intent-filter>
		  <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		  <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		  <category android:name="com.stanks.zet_v2" />
		  </intent-filter>
		  </receiver>
		    <receiver
		  android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"
		  android:exported="false" />
		
		
		  <service
		  android:name="com.google.firebase.iid.FirebaseInstanceIdService"
		  android:exported="true">
		  <intent-filter android:priority="-500">
		  <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
		  </intent-filter>
		  </service>
		<service
		  android:name="com.google.firebase.messaging.FirebaseMessagingService"
		  android:exported="true">
		  <intent-filter android:priority="-500">
		  <action android:name="com.google.firebase.MESSAGING_EVENT" />
		  </intent-filter>
		  </service>
		   <service android:name="anywheresoftware.b4a.objects.FirebaseNotificationsService">
		     <intent-filter>
		  <action android:name="com.google.firebase.MESSAGING_EVENT"/>
		     </intent-filter>
		   </service>
		<activity android:name="anywheresoftware.b4a.objects.preferenceactivity"/>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="ZET"
			android:screenOrientation="unspecified">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".gps_pozicija"
			android:label="ZET"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lokacije_123"
			android:label="ZET"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".trazi"
			android:label="ZET"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".firebasemessaging">
		</service>
		<receiver android:name=".firebasemessaging$firebasemessaging_BR">
		</receiver>
		<service android:name=".kw2">
		</service>
		<receiver
			android:name=".kw2$kw2_BR"
			android:label="">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			android:resource="@xml/kw2_info" />
			
		</receiver>
		<service android:name=".fav">
		</service>
		<receiver
			android:name=".fav$fav_BR"
			android:label="">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			android:resource="@xml/fav_info" />
			
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".detalj"
			android:label="ZET"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".detalj_stanice"
			android:label="ZET"
			android:screenOrientation="unspecified">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lok_123_karta2"
			android:label="ZET"
			android:screenOrientation="unspecified">
		</activity>
		<service android:name=".httputils2service">
		</service>
		<receiver android:name=".httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>